<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #0F1626 !important;">
  <a class="navbar-brand col-2" href="#">GeoCity</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Transportation</a>
          <a class="dropdown-item" href="#">Payment</a>
          <a class="dropdown-item" href="#">Parcel Info</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Report a Problem</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Make a request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/map">Map</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ml-auto">
          <a class="nav-link" href="#">Sign in  or Register</a>
      </li>
    </ul>
  </div>
</nav>