.navbar-brand
{
    font-size: 28px;
}
li
{
    padding: 0px 11px 0px 11px;
}
.nav-link
{
    color: white !important;
}
.nav-link:hover
{
    color: gainsboro !important;
}
.dropdown-menu > a:hover {
    background-color: #B4DBC0;
    color: #0F1626;
}
.dropdown-menu
{
    background-color: #0F1626;
}
.dropdown-menu a
{
    color: white;
}
