<div class="container-fluid">
    <div class="row">
        <aside class="">
        </aside>
        <main id="mapArea" class="col-12">
            <div id="map"></div>
            <div id="loading" *ngIf="isLoading">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
            <div class="navbar-dark bg-dark col-12" id="bottom-menu" *ngIf="toggleBottomMenu == 'show'">
                <div class="row">
                    <p class="col-10" style="padding-top: 3px; font-size: 21px;">
                        <i id="menuTitle">&#x2139;</i> Request Details</p>
                    <p class="col-2" id="close" (click)="closeBottomMenu()"> &times; </p>
                </div>
                <ul>
                    <li>
                        <font size="4">Parcel ID: </font>{{ parcelinfo.ID }}.
                    </li>
                    <li>
                        <font size="4">Landuse: </font>{{ parcelinfo.Usage }}.
                    </li>
                    <div *ngIf="this.parcelinfo.Violations == '0'">
                        <li>
                            <font size="4"> Violation Type: </font> {{ parcelinfo.Vio_Type }}.
                        </li>
                        <li>
                            <font size="4"> Violation: </font>{{ parcelinfo.Violations }}.
                        </li>
                    </div>
                    <br>
                    <h5>Available Utilities</h5>
                    <li *ngIf="parcelinfo.Water">Water.</li>
                    <li *ngIf="parcelinfo.Gas">Gas.</li>
                    <li *ngIf="parcelinfo.Electric">Electricity.</li>
                    <li *ngIf="parcelinfo.Telephone">Telephone.</li>
                    <br>
                    <h5>License Status</h5>
                    <li *ngIf="parcelinfo.License">Licensed.</li>
                    <li *ngIf="!parcelinfo.License">Not Licensed.</li>
                </ul>
            </div>
        </main>
    </div>
</div>
<div>
</div>