#left,#right
{
    padding: 0;
}
.form-check-label
{
    padding: 0;
}
.btn
{
    width: 100%;
    background-color: #0F1626;
    color: white;
}
.btn:hover
{
    background-color: #35456b;
}
.form-check{
    padding-left:1.25rem;
}
.register
{
    text-align: center;
}
.row
{
    margin: 0;
}
.alert
{
    font-size: 13px;
    padding: 10px;
}
.form-group 
{
    margin-bottom: 0.3rem;
}
.alert.alert-danger
{
    margin: 0 !important;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert.alert-danger p
{
    padding: 0 !important;
    margin: 0 !important;
    font-size: 13px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
