<footer class="dorne-footer-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-md-flex align-items-center justify-content-between">
                <div class="footer-text">
                  <div>
                  <div class="left">
                      <p class="mail">
                          Newsletter
                          Get our news & feeds. <br>
                          Enter your e-mail and 
                          subscribe to our newsletter . 
                        </p>
                  </div>
                    
                
                <div class="right" >
                  <ul class="ContactUs">
                    <li> Phone : +20100039756 </li>
                    <li> E-mail : iti@gov.eg </li>
                    <li> Adress : Smart village 6th of October City </li>
                  </ul>
                </div>
                </div>
              </div>
                <div>
                    <p class="copyRight">
                        Copyright ©2018 All rights reserved | This template is made by ITI (Information Technology Institute) Track GIS .
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>