<section class="jumbotron dorne-welcome-area bg-img bg-overlay mp " [ngStyle]="{'background-image':'url(' + homebg + ')'}">
          <div class="container-fluid mp">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-10">
                <div class="lead hero-content">
                    <h2>Discover your city </h2>
                    <div>
                        <h4>This is the best guide of your city </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dorne-catagory-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="all-catagories">
                    <div class="row">
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.2s">
                                <div class="catagory-content">
                                    <i class="fab fa-fort-awesome-alt"></i>
                                    <a href="#">
                                        <h6>Schools</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.4s">
                                <div class="catagory-content">
                                    <i class="fas fa-h-square"></i>
                                    <a href="#">
                                        <h6>Hotels </h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.6s">
                                <div class="catagory-content">
                                    <i class="fas fa-shopping-basket"></i>
                                    <a href="#">
                                        <h6>Shopping</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.8s">
                                <div class="catagory-content">
                                    <i class="fas fa-utensils"></i>
                                    <a href="#">
                                        <h6>Restaurants</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="1s">
                                <div class="catagory-content">
                                    <i class="fas fa-tv"></i>
                                    <a href="#">
                                        <h6>Cinema</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="recent-works">
    <div class="container">
        <div class="text-center">
            <h2>Latest News And Events</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <div class="recent-work-wrap">
                    <img [src]="item1">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3>
                                <a href="#">Business theme</a>
                            </h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="#" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="recent-work-wrap">
                        <img [src]="item2">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3>
                                <a href="#">Business theme</a>
                            </h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="#" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="recent-work-wrap">
                    <img [src]="item3">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3>
                                <a href="#">Business theme </a>
                            </h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="#" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="recent-work-wrap">
                    <img [src]="item4">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3>
                                <a href="#">Business theme </a>
                            </h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="#" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="recent-work-wrap">
                    <img [src]="item5">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3>
                                <a href="#">Business theme</a>
                            </h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="#" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4 ">
                <div class="recent-work-wrap">
                    <img [src]="item6">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3>
                                <a href="#">Business theme </a>
                            </h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="#" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section >
