<section class="dorne-welcome-area bg-img bg-overlay mp " [ngStyle]="{'background-image':'url(' + homebg + ')'}">
          <div class="container-fluid mp">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-10">
                <div class="hero-content">
                    <h2>Discover your city </h2>
                    <div>
                        <h4>This is the best guide of your city </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dorne-catagory-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="all-catagories">
                    <div class="row">
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.2s">
                                <div class="catagory-content">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a>
                                        <h6>Places</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.4s">
                                <div class="catagory-content">
                                        <i class="far fa-credit-card"></i>
                                    <a>
                                        <h6>Payment</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.6s">
                                <div class="catagory-content">
                                        <i class="fas fa-bus"></i>
                                    <a>
                                        <h6>Transportation</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.8s">
                                <div class="catagory-content">
                                        <i class="far fa-comment-alt"></i>                                    <a>
                                        <h6>Feedback</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="1s">
                                <div class="catagory-content">
                                        <i class="far fa-newspaper"></i>
                                    <a >
                                        <h6>Services</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="recent-works">
    <div class="container">
        <div class="text-center">
            <h2>Latest News And Events</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <div class="recent-work-wrap">
                    <img [src]="item1">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3>
                                <a>Public Auction</a>
                            </h3>
                            <p>Selling 12 administrative units in the public auction housing future and youth ,
                                    With areas ranging from 55 to 58 m2,
                                    and Prices ranged between 4025 pounds and 4800 pounds per meter . </p>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="recent-work-wrap">
                        <img [src]="item2">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3>
                                <a> New Agreculture Development Campaign</a>
                            </h3>
                            <p>A new development campaign for the cultivation of 2500 palm trees in the entrances, exits and fields of the city of Sunrise .</p>
                             
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="recent-work-wrap">
                    <img [src]="item3">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3>
                                <a>Improvement Of The City's Second Entrances </a>
                            </h3>
                            <p>Work has been started on the beautification of the entrance to the city No.2 of Cairo / Suez Desert Road .</p>
                             
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="recent-work-wrap">
                    <img [src]="item4">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3>
                                <a>Cooperation with ministry of interior affairs </a>
                            </h3>
                            <p>Implementation of 6 security ambushes at the entrances and exits of the city,
                                 from Cairo / Suez Desert Road, Cairo / Ismailia Desert Road,
                                 and the city's entrances to Heliopolis .</p>
                                                        
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="recent-work-wrap">
                    <img [src]="item5">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3>
                                <a>Execution of the units of Dar Misr</a>
                            </h3>
                            <p>The percentage of implementation of the first phase of the medium housing project reached about 57%,
                                and the first phase includes 117 buildings with 2808 residential units, while the second phase includes 51 buildings with 1224 units .
                            </p>                           
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4 ">
                <div class="recent-work-wrap">
                    <img [src]="item6">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3>
                                <a>Completion of the medium housing project in the city </a>
                            </h3>
                            <p>The percentage of implementation of the first phase of the city's average housing project reached 36%, the first phase includes 117 buildings, and the second phase, announced last month,includes 51 buildings .
                            </p>
                             
                            
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section >
