@font-face
{
    font-family: FontAwesome;
    src: url('../../../assets/fonts/fontawesome-webfont.ttf');
}
#map
{
    height: 500px;
    margin: 10px;
    margin-top: 0px;
    margin-left: 35px;
}
#left-container
{
    border-right: 1px solid rgba(0,0,0,.125);
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,.125);
    padding-right: 6px;
}
h5
{
    margin-top: 15px;
    margin-bottom: 15px;
}
.card
{
    width: 90% !important;
}
#dropdownMenuButton
{
    background-color: transparent;
    color: black;
    border: 1px solid rgba(0,0,0,.125) !important;
    width: 100%;
    text-align: left;
}
.dropdown-menu
{
    width: 93%;
    padding: 0;
}
.dropdown-toggle::after 
{
    content: "\f107";
    font-family: FontAwesome;
    margin-left: 320px; 
    border: 0px;
}
.btn
{
    width: 100%;
    background-color: #0F1626;
    color: white;
    border: #0F1626;
}
.btn:hover
{
    background-color: #35456b;
}
.dropdown-menu > a:hover 
{
    background-color: #0F1626;
    color: white;
}
.form-check-label {
    padding-left: 0.1rem;
    margin-bottom: 0;
}
form-check-label
{
    font-size: 15px;
}
.alert
{
    font-size: 13px;
    padding: 10px;
}
label small
{
    color:#b12737;
    font-size: 18px;
    font-weight: bold;
}
.expand
{
    transition: all 600ms ease;
}