<div class="container">
    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-body">
                <form name="form" (ngSubmit)="submitRequest(f)" #f="ngForm" novalidate>
                    <div class="form-group">
                        <p>
                            Please choose your request below. We will get back to you at the earliest!
                        </p>
                        <select id="ddl" class="custom-select" (change)="selectChangeHandler($event)" [(ngModel)]="request.category" name="requestCategory">
                            <option value="" selected> -- Choose Request Type </option>
                            <option value="Parcel license">Parcel license</option>
                            <option value="Electricity supply">Electricity supply</option>
                            <option value="Gas supply">Gas supply</option>
                            <option value="Telephone line">Telephone line</option>
                        </select>
                    </div>
                    <div *ngIf="form_isVisible">
                        <div class="form-group">
                            <label for="requestUserName">Name</label>
                            <input [(ngModel)]="request.userName" #userName="ngModel" name="request.userName" required minlength="3" type="name" class="form-control"
                                id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter Your Full Name">
                        </div>
                        <div [@Animation]='state' class="alert alert-danger" *ngIf="userName.errors?.required && userName.touched">
                            Name is required
                        </div>
                        <div [@Animation]='state' class="alert alert-danger" *ngIf="userName.errors?.minlength && userName.touched">
                            Name should be at least 3 characters
                        </div>
                        <div class="form-group">
                            <label for="requestUserNationalID">National ID</label>
                            <input class="form-control" #userNationalID="ngModel" pattern="(2|3)[0-9][1-9][0-1][1-9][0-3][1-9](01|02|03|04|11|12|13|14|15|16|17|18|19|21|22|23|24|25|26|27|28|29|31|32|33|34|35|88)\d\d\d\d\d"
                                type="number" class="form-control" id="exampleInputNID" maxlength="14" required placeholder="Enter Your National ID"
                                [(ngModel)]="request.userNationalID" name="requestUserNationalID">
                        </div>
                        <div [@Animation]='state' class="alert alert-danger" *ngIf=" userNationalID.invalid && userNationalID.touched">
                            Invalid National ID
                        </div>
                        <div class="form-group">
                            <label for="requestForm"> -- Request Application Form </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3" name="requestForm">  Applying form to request {{selectedForm}} .If your submission does not meet these requirements, we’ll notify you that your application has been rejected. You will have 72 hours or until the original due date, whichever is later, to resubmit your application in the required format. Resubmitted applications must be postmarked within that time frame and shipped via an overnight delivery service.
                       </textarea>
                        </div>
                        <button type="submit" class=" btn btn-light btn-default pull-right" id="btn">Send →</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<!-- <div class="containerMain ">
<div class="container " style="width:65%;">
<div class="row">
   <div class="col-12 card "  id="form_container">
       
       
       <div class="cr">
       
        <h4>Choose Request : </h4>
       </div>
       <div class="cr ">
        <p>
          Please choose your request below. We will get back to you at the earliest!
       </p>
       </div>
       <div class="tab-content mtl" id="nav-tabContent">
           <div class="tab-pane fade show active " id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                 <form action="#" method="get">
                   <select class="custom-select" (change)="selectChange($event)">
                       <option selected> -- Choose Request Type </option>
                       <option [value]="1">Type1</option>
                       <option [value]="2">Type2</option>
                       
                   </select>
               </form>
           </div>
      
       <form role="form" method="post" id="reused_form" >
           <div class="row">
               <div class="col-12 form-group" style="display:none">
                   <label for="message" >
                       Form1 </label>
                   <textarea class="form-control" type="textarea" id="message" name="message" maxlength="6000" rows="7"></textarea>
               </div>
               <div class="col-12 form-group" *ngIf="form_isVisible">
                       <label for="message">
                          Form2</label>
                       <textarea class="form-control" type="textarea" id="message" name="message" maxlength="6000" rows="7"></textarea>
                   </div>
                   
           </div>
           
           <div class="row">
               <div class="col-sm-12 form-group">
                   <button type="submit" class=" btn btn-light btn-default pull-right" >Send →</button>
               </div>
           </div>
       </form>
       <div id="success_message" style="width:100%; height:100%; display:none; ">
           <h3>Posted your message successfully!</h3>
       </div>
       <div id="error_message"
               style="width:100%; height:100%; display:none; ">
                   <h3>Error</h3>
                   Sorry there was an error sending your form.
       </div>
   </div>
</div>
</div>
</div> -->