*{
    margin: 0;
    padding: 0;
}

.image{
    position: relative;
    height: 550px;
    width: 100%;
    background-position: center center;
}

.bus{
    position: absolute;
    top: 107px;
    left: 50px;
}

.origin{
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
}

.placeholder{
    font-size: 14px;
}
.dorne-btn {
    min-width: 160px;
    height: 52px;
    border-radius: 0;
    padding: 0 15px;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
}

.bg-overlay,
.bg-overlay-9 {
    position: relative;
    z-index: 1;
}

.book-a-table-widget {
    padding: 50px 30px;
    padding-bottom: 98px;
    background-color: #304150;
}

.book-a-table-widget h6 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
}

.book-a-table-widget .custom-select {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    height: 50px;
    font-size: 14px;
    color: #72728c;
    padding: 0 30px;
}

.search{
    background-color: white;
    margin-top: 22px;
    padding: 9px 22px;
    margin-left: 4px;
}
