*{
    margin: 0;
    padding: 0;
}

.container-fluid{
    height: 675px; 
    overflow: hidden
}

.image{
    position: relative;
    height: 665px;
    width: 100%;
    background-position: center;
}

#map 
{
    height: 350px;
    margin: 10px;
}

#map1
{
    height: 317px;
    margin: 0px 10px 10px 10px;
}

.bus{
    position: absolute;
    top: 150px;
    left: 50px;
}

.origin{
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
}

.placeholder{
    font-size: 14px;
}

.dorne-btn {
    min-width: 160px;
    height: 52px;
    border-radius: 0;
    padding: 0 15px;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
}

.bg-overlay,
.bg-overlay-9 {
    position: relative;
    z-index: 1;
}

.book-a-table-widget {
    padding: 50px 30px;
    padding-bottom: 98px;
    background-color: #304150;
}

.book-a-table-widget h6 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
}

.book-a-table-widget .custom-select {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    height: 50px;
    font-size: 14px;
    color: #72728c;
    padding: 0 30px;
}

.alert
{
    font-size: 13px;
    padding: 10px;
    margin-top: -15px;
}

.search{
    background-color: white;
    margin-top: 22px;
    padding: 9px 22px;
    margin-left: 4px;
}

.single-listing-menu {
    background-color: #304150 !important;
    color: white;
    padding: 20px 40px;
    margin: 10px;
    margin-bottom: 0px;
    width: 725px;
    height: 315px;
}

.single-listing-menu:nth-child(odd) {
    background-color: #f3edff;
    height: 350px;
    margin-top: 0px;
    width: 725px;
}

h6{
    font-size: 20px;
}

li{
    list-style: none;
}

.right{
    float: right;
}

.left{
    float: left;
}

.info{
    padding-right: 10px;
    margin-top: 10px;
}

.card
{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: transparent;
    margin-top: 10px;
}

