.card
{
    border-radius: 0;
}
#header
{
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 30px;
}
.card-body
{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
}
input
{
    border-radius: 0px;
}
.btn
{
    width: 100%;
    background-color: #0F1626;
    color: white;
}
.btn:hover
{
    background-color: #35456b;
    background-color: #05080f;
}
.btn:focus{
    box-shadow: none !important;
}
.form-check
{
    margin-left: 20px;
}
label.form-check-label 
{
    margin-right: 120px;
}
#rbt
{
    transition: all 2s ease 0.5s;
}
.container-fluid
{
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}
.alert
{
    font-size: 13px;
    padding: 10px;
}
.form-group 
{
    margin-bottom: 0.3rem;
}
.container-fluid
{
    height: 900px;
}
#validation {
    margin-top: 5px;
}