<div class="container-fluid">
    <div class="row">
        <aside class="">
        </aside>
        <main id="mapArea" class="col-12">
                <form class="form-inline">
                        <div class="input-group" id="searchinput">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" (keyup.enter)="search($event)" [(ngModel)]="inputValue" name="search">
                        </div>
                    </form>
            <div id="map"></div>
            <div id="loading" *ngIf="isLoading">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
            <div class="navbar-dark bg-dark col-12" id="bottom-menu" *ngIf="toggleBottomMenu == 'show'">
                    <div class="row">
                        <p class="col-10" style="padding-top: 3px; font-size: 21px;">
                            <i id="menuTitle">&#x2139;</i> Request Details</p>
                        <p class="col-2" id="close" (click)="closeBottomMenu()"> &times; </p>
                    </div>
                    <ul>
                            <li>
                                <font size="4">Parcel ID: </font>#{{ feature.ParcelID }}
                            </li>
                            <li>
                                <font size="4">Owner Name: </font>{{ feature.OwnerName }}
                            </li>
                            <li>
                                <font size="4">Landuse: </font>#{{ feature.Landuse }}
                            </li>
                            <li>
                                <font size="4">Utilities: </font>{{ feature.Utilities }}.
                            </li>
                    </ul>
                </div>
        </main>
    </div>
</div>
<div>
</div>